{{!
  @template block_pomodoro/pomodoro_timer
}}

<div class="pomodoro-container">
    <div class="timer">
        <h3 class="pomodoro-title">🍅 My Pomodoro Timer</h3>

        <div class="pomodoro-grid">
            <div class="viz">
                <div class="viz-inner">
                    <div class="tomato-grow" aria-hidden="true"></div>
                    <button id="start" type="button" class="btn btn-primary start-btn">Start Pomodoro</button>
                </div>
            </div>

            <div class="timepanel">
                <div id="pomodoro-timer-display"
                     class="timer-display"
                     data-focus-sec="30" data-shortbreak-sec="10"
                     data-longbreak-sec="15" data-wellness-sec="3"
                     data-longbreak-interval="3" data-courseid="{{courseid}}">
                    00:30
                </div>
                <div class="buttons">
                    <button id="stop" type="button" class="btn">Stop</button>
                </div>
            </div>
        </div>

        <div class="tomato-row">
            <div class="dots" id="pomodoro-tomatoes" aria-label="Pomodoros in this cycle"></div>
            <div class="legend">Long break after <span id="pomodoro-interval">3</span> 🍅</div>
        </div>
    </div>

    <!-- Wellness modal -->
    <dialog id="wellness-modal" class="pomodoro-modal" aria-labelledby="wellness-title">
        <form method="dialog">
            <div class="d-flex flex-column align-items-center">
                <h4 id="wellness-title">Take a breath</h4>
                <div id="wellness-countdown" class="modal-countdown">00:03</div>
                <button id="skip-wellness" class="btn btn-primary align-self-center" type="button">Skip</button>
            </div>
        </form>
    </dialog>

    <!-- Break modal -->
    <dialog id="break-modal" class="pomodoro-modal" aria-labelledby="break-title">
        <form method="dialog">
            <div class="d-flex flex-column align-items-center">
                <h4 id="break-title">Break time</h4>
                <ul class="ideas">
                    <li>Stand and stretch</li>
                    <li>Drink water</li>
                    <li>Rest your eyes</li>
                </ul>
                <div id="break-countdown" class="modal-countdown">00:10</div>
                <button id="dismiss-break" type="button" class="btn btn-primary align-self-center">OK</button>
            </div>
        </form>
    </dialog>
</div>

{{#js}}
    require(['block_pomodoro/pomodoro_timer'], function (timer) {
    timer.init();
    });
{{/js}}
